

<div class="container container-ventas">
    <div class="row">
        <div class="datos-company">
            <h3>Contacto de Ventas</h3>
            <label >Telefono</label><p>+51 956 318 797</p>
            <p class="text-muted">Puedes ordenar por whatsapp</p>
            <label >Direccion</label><p>Calle las Dalias 777 <br>Cerro Colorado<br>Arequipa, 04020<br>Peru</p>
        </div>
    </div>
<hr>
<!-- cartas para compra en linea Invitado y compra a traves de USUARIO -->
 
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Visitantes</h4> 
                    <p class="card-text">Lo quieres probar! te interesa el Licor pero lo quieres ya! y quizas más tarde te unas a nuestra clientela </p>
                    <a (click)="onSelectRoute()" class="btn btn-dark">Compra ya!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Existentes</h4>
                    <p class="card-text">Gracias por regresar ya tenemos tu informacion solo confirma tu usuario y contraseña </p>
                    <a href='#' class="btn btn-dark">Ingresa ya!</a>
                </div>
            </div>
        </div>

</div>