<nav class="navbar sticky-top navbar-md">
    <a href="#" class="navbar-brand ">
    <img src="assets/logo.png" alt="" width="60px" height="auto">
       <span> Yananina</span>
    </a>
    <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Ventas</a>
          </li >
          <li class="nav-item">
            <a class="nav-link " href="#">Contacto</a>
          </li >
          <li class="nav-item">
            <a class="nav-link " href="#">Nosotros</a>
          </li >
        </ul>
</nav>

