<nav class="navbar sticky-top navbar-md">
    <a href="#" class="navbar-brand ">
    <img src="assets/logo.png" alt="" width="60px" height="auto">
       <span> Yananina</span>
    </a>
   
      <input class="hamburger" type="checkbox" id="menu-bar">
      <label for="menu-bar"><i class="fa fa-bars fa-2x"></i></label>
    
    <div class="menuComp" id="menu">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="inicio" (click)="ontest(1,2,3)" >Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" routerLink="ventas">Ventas</a>
          </li >
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" routerLink="contacto">Contacto</a>
          </li >
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" routerLink="nosotros">Nosotros</a>
          </li >
        </ul>
      </div>
</nav>

